#map {
  height: 50vh;
}

.marker-container {
  display: flex;
  justify-content: flex-start;
}
.marker-container h3 {
  text-shadow: 0 0 5px blue, 0 0 3px rgba(128, 128, 128);
  color: rgb(173, 255, 251);
  font-size: 20px;
  padding:5px;
  border-radius: 50%;
  height: 20px;
  margin: 0;
}
.map-marker {
  height: 50px;
  width: 40px
}

.side-menu{
  display: flex;
  flex-direction: column;
}

.logo {
  width: 60px;
  margin-bottom: 25px;
  padding: 10px;
  background:rgb(173, 255, 251);
  border-radius: 10px;
}
